name: Release

on:
  push:
    tags:
    - '*.*.*'
jobs:
  build:
    environment: nuget
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    -
      name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    -
      name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    -
      name: Build and pack package
      shell: bash
      run: ./pack.sh $RELEASE_VERSION
    -
      name: Publish to nuget
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      shell: bash
      run: ./publish.sh $NUGET_API_KEY